*~
*.swp
*.kate-swp
*.swo
*.xz
*.gz
*.pot
*.tgz
*.rpm
po/*.po
po/*.pot

# Debian
*.deb
ChangeLog
debian/README
debian/changelog
debian/debhelper-build-stamp
debian/files
debian/snapman.*
debian/snapman/*

